---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    Maintained by <a href="https://arvrs.github.io" target="_blank" class="font-bold">Roshni Suresh</a>
  </div>
</footer>
<style></style>
